/*
	Title: Styles for battleImages
	Author: Chris Peterman
	Description: Contains all of the styling for the battleImages website.
*/

* {
    width: 100%;
    overflow-x:hidden;
    height: auto;
    margin: 0;
    padding: 0;
    white-space:nowrap;
    font-family: sans-serif;
}

h2, h3, h1 {
    overflow-x: visible;
    font-family: 'Erica One', cursive;
}

button {
    width: 150px;
    height: 50px;
    border: none;
    margin: 10px;
    border-radius: 15px;
    font-size: 20px;
    background-color: peachpuff;
    box-shadow: 1px 5px 5px black;
    overflow:wrap;
}

img {
    width: 250px;
    height: 250px;
    border: 4px solid black;
    border-radius: 15px;
    box-shadow: 2px 5px 5px black;
}

/* Header section */

#header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 2em;
    padding: 20px;
    background-color: rgb(167, 167, 196);
    background-color: peachpuff;
    box-shadow: 1px 5px 5px black;
}

#header p {
    padding-top: 30px;
    font-size: 2rem;
}

/* Buttons */
.up-vote:hover {
    transition-duration: 0.6ms;
    background-color: rgb(78, 231, 147);
    cursor: pointer;
}

.down-vote:hover {
    transition-duration: 0.6ms;
    background-color: rgb(224, 111, 111);
    cursor: pointer;
}
.up-vote:active,
.down-vote:active {
    box-shadow: none;
}

.vote-data, 
.title-image-1,
.title-image-2, 
.vote-buttons,
.previous-vote-data {
    overflow-x: visible;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    text-align: center;
}

.vote-data {
    padding-top: 40px;
    padding-right: 30px;
    margin-left: -40px;
}

.new-vote-data{
    margin-left: -160px;
}

.champion-container {
    margin-left: -100px;
}

.new-vote-container {
    margin-left: -300px;
}

.previous-vote-data {
    margin: 0;
}

#battle-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 20px;
    margin-left: 20px;
    font-size: 1.5em;
    width: 95%;
}

#champion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
}

#champion h2 {
    padding-left: 20px;
}


#timer {
    text-align: center;
    font-size: 2em;
    background-color: peachpuff;
    padding-top: 50px;
    padding-bottom: 100px;
}

.previous-vote-data {
    margin-top: 100px;
    margin-right: 40px;
}

.previous-vote-data {
    text-align: center;
}

/* footer */
.footer {
    height: 50px;
    width: auto;
    background-color: peachpuff;
    padding-top: 20px;
    margin-top: 20px;
    box-shadow: -10px -5px 5px black;
}

/* Finish Voting Section */
.total-it {
   text-align: center;
}

#votes-pool {
    color: red;
    font-size: 16;
}
